body{
    margin: 0;
    padding: 0;
    background-color: lightgray;

}

h1{
    background-color: brown;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.conteudo
{
    margin: 20px auto;
    border: 1px solid red;
    width: 500px;
}

.conteudo p
{
    font-size: 20px;
    text-align: justify;
}

input[type=text], input[type=number]
{
   width: 100%;
   padding: 5px;
   box-sizing: border-box; 

}